    #card {
        margin: 8%;
        position: absolute;
        height: auto;
        width: 350px;
        border-radius: 10px;
        background-color: white;
        background-image: url("hot-girl.png");
        background-size: 50vh, 70vh;
        box-shadow: 0px 0px 20px red;
        transform: rotate(5deg);
        top: 0px;
        opacity: 0;
        left: -200%;
    }

    .honey {
        margin: auto;
        padding: 5%;
        display: block;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 red;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    h4 {
        text-align: center;
        /* -webkit-text-fill-color: rgba(0, 200, 200, 0.1); */
        -webkit-background-clip: text;
        background-image: url("hot-girl.png");
        font-family: 'Allura', cursive;
        padding: -2%;
        font-size: 19px;
        overflow: hidden;
        color: rgb(74, 105, 105);
    }

    .card-show{
        opacity: 1 !important;
        left: 0 !important;
        transition: all 2s;
    }